{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:react/jsx-runtime"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "project": "./tsconfig.json"
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "componentWrapperFunctions": [{ "property": "styled" }]
    },
    "rules": {
        "comma-dangle": ["warn", "never"],
        "eol-last": ["warn", "always"],
        "indent": ["warn", 4, { "SwitchCase": 1 }],
        "max-len": [
            "warn",
            {
                "code": 140,
                "ignorePattern": "^(import\\s.+\\sfrom\\s.+)|(export\\s.+);$",
                "ignoreUrls": true
            }
        ],
        "no-constant-condition": [
            "warn",
            {
                "checkLoops": false
            }
        ],
        "no-extra-semi": "warn",
        "quotes": ["warn", "single"],
        "react/display-name": "off",
        "react/jsx-indent-props": [2, "first"],
        "react/no-children-prop": "warn",
        "@typescript-eslint/ban-types": [
            "error",
            {
                "extendDefaults": true,
                "types": {
                    "{}": false
                }
            }
        ],
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/indent": [
            "warn",
            4,
            {
                "ignoredNodes": ["JSXElement *", "JSXElement"],
                "SwitchCase": 1
            }
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-extra-non-null-assertion": "off",
        "@typescript-eslint/no-misused-promises": [
            "error",
            {
                "checksVoidReturn": {
                    "attributes": false
                }
            }
        ],
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_",
                "destructuredArrayIgnorePattern": "^_",
                "ignoreRestSiblings": true
            }
        ],
        "@typescript-eslint/semi": ["warn", "always"]
    },
    "overrides": [
        {
            "files": ["*Utils.ts"],
            "rules": {
                "no-inner-declarations": "off"
            }
        },
        {
            "files": ["config/**", "scripts/**"],
            "rules": {
                "@typescript-eslint/indent": ["warn", 2]
            }
        },
        {
            "files": ["*.enum.ts"],
            "rules": {
                "@typescript-eslint/no-redeclare": ["off"]
            }
        }
    ]
}
