$backdrop-blur: 2px;

.MuiDialog-root {

    .MuiBackdrop-root {

        /*
         * Blurred backdrop effect
         */
        @supports ((-webkit-backdrop-filter: blur($backdrop-blur)) or (backdrop-filter: blur($backdrop-blur))) {
            background-color: transparent;
            -webkit-backdrop-filter: blur($backdrop-blur);
            backdrop-filter: blur($backdrop-blur);
        }
    }
}