@import './theme-constants.scss';
@import './material-ui-components.scss';
@import './utilities.scss';
@import './backdrop-blur.scss';

body {
    /*
     * This is needed to fix scrollbar from appearing on the body element appearing
     * when a visible tooltip is scrolled outside of the viewport.
     */
    overflow: hidden;
}

.section-subheader {
    font-family: var(--font-family-google-sans);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 0;
}

.backdrop-blur {
    @include backdrop-blur();
}
