$spacing: 4px;

:root {

    --spacing: $spacing;

    --app-bar-height: 64px;

    --font-family-google-sans: Google Sans, Roboto, sans-serif;

}

.google-sans {
    font-family: var(--font-family-google-sans);
}
